@import url('https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;0,1000;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900;1,1000&display=swap');
*{
    margin: 0;
    padding: 0;
    font-family: 'Mulish', sans-serif;
}
$white: #fff;
$black: #223138;
$green: #5CED84;
$gray: gray;
.one{
    width: 100vw;
    height: 92vh;
    background: url('../img/back/1.png')center center no-repeat;
}
.one-contact{
    width: 100vw;
    height: 92vh;
    background: url('../img/back/7.svg')center center no-repeat;
}
header{
    width: 100%;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: space-between;
    nav{
        ul{
            list-style: none;
            display: flex;
            li{
                margin: 0 25px;
                a{
                    text-decoration: none;
                    color: $white;
                    font-size: 18px;
                }
            }
        }
    }
    .icon{
        padding-right: 20px;
        display: flex;
        align-items: center;
        a{
            color: $green;
            text-decoration: none;
        }
    }
}
.target{
    width: 100vw;
    height: 60vh;
    background: $black;;
    display: flex;
    justify-content: center;
    align-items: center;
}
.delivery{
    width: 100vw;
    height: 392px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: url('../img/back/2.png') center center no-repeat;
    .delivery-right{
        margin-right: 5%;
        > button{
            width: 260px;
            height: 50px;
            border-radius: 25px;
            border: 2px solid $black;
            background: none;
            font-size: 17px;
        }
    }
    .delivery-left{
        margin-left: 5%;
        h2{
            font-size: 35px;
        }
        p{
            margin-top: 30px;
        }
    }
}

    
    .slider {
        width: 100vw;
        height: 830px;
        overflow: hidden;
        position: relative;
      }
      
      .slider img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        position: absolute;
        transition: opacity 0.5s ease-in-out;
      }
      
      .slider img:not(:first-child) {
        opacity: 0;
      }

.map{
    width: 100vw;
    height: 500px;
    overflow: hiiden;
}
footer{
    width: 100%;
    height: 642px;
    background-color: $black;
    display: flex;
    justify-content: center;
    align-items: center;
    .up{
        display: flex;
        justify-content: center;
    }
    .center{
        margin: 80px 0;
        nav{
            ul{
                list-style: none;
                display: flex;
                li{
                    margin: 0 25px;
                    a{
                        text-decoration: none;
                        color: $white;
                        font-size: 18px;
                    }
                }
            }
        }
    }
    .down{
        text-align: center;
        p{
            margin-top: 20px;
            color: $white;
        }

    }
}

.more-photos{
    img{
        width: 50px;
    }
}

// product.php

.head-product{
    width: 100vw;
    height: 800px;
    background: url('../img/back/4.png') center center no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
    .head-product-header{
        text-align: center;
        h1{
            color: $white;
            font-size: 40px;
            font-weight: 400;
        }
    }
    .head-product-content{
        width: 90vw;
        height: 400px;
        margin-top: 80px;
        display: flex;
        overflow: auto;
        .head-product-content-walp{
            margin-left: 27.5%;
            width:55%;
            // border: 1px solid white;
            padding: 30px;
            display: flex;
            justify-content: center;
            align-items: center;
            // background-color: $white;
            border-radius: 6px;
            .head-product-content-walp-left{
                img{
                    width: 350px;
                }
            }
            .head-product-content-walp-right{
                padding: 20px;
                h2{
                    color: $white
                }
                p{
                    max-width: 300px;
                    margin: 10px 0;
                    font-weight: 300;
                    color: $white;
                    font-size: 17px;

                }
                span{
                    color: $gray;
                }
                .price{
                    color: $green;
                }
            }
            
        }
        .head-product-content-block{
            margin: 20px;
            // background-color: $white;
            border-radius: 6px;
            // display: flex;
            align-items: center;
            justify-content: space-between;
            padding: 20px;
            img{
                width: 200px;
                
            }
            h3{
                font-size: 17px;
                margin: 10px 0;
                color: $white;
            }
            p{
                margin-top: 10px 0;
                color: $green;
            }
            button{
                background: $green;
                color: $white;
                margin-top: 20px;
                border: none;
                font-size: 17px;
                padding: 10px 20px;
                border-radius: 6px;
            }
            a{
                text-decoration: none;
                color: $green;
            }
            
        }
    }
}
.countsss{
    margin-left: 130px;
    margin-top: -30px;
    position: absolute;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: $black;
    background: $green;
}
.counts{
    width: 300px;
    margin-top: 50px;
    p{
        color: $white;
        margin-top: 10px;
    }
    span{
        color: $green;
    }
    button{
        margin-top: 20px;
        padding: 15px 45px;
        background: $green;
        color:$black;
        border-radius: 6px;
        border:none;
        font-size: 17px;
    }
}
.error{
    color: $white;
    text-transform: uppercase;
    font-size: 20px;
}

.register-auth{
    p{
        text-align: center;
        color: $green;
        cursor: pointer;
    }
}
  /* Modal */
  .modal-container,
  .modal-container2 {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.3s visibility ease-in, opacity 0.3s ease-out;
    visibility: hidden;
    opacity: 0;
  }
  .modal-container.show,
  .modal-container2.show{
    visibility: visible;
    opacity: 1;
  }
  .modal,
  .modal2 {
    width: 412px;
    padding: 40px 0;
    border-radius: 6px;
    background-color: $black;
    box-shadow: 0 2px 15px rgba(34, 34, 53, 0.1);
    display: flex;
    justify-content: center;
    align-items: center;
    label{
        color: $white;
    }
    input{
        margin-bottom: 30px;
        width: 315px;
        height: 50px;
        background: #4D4C4C;
        outline: none;
        border: none;
        border-radius: 6px;
        color: $white;
        padding: 0 10px;
    }
    button{
        width: 335px;
        height: 50px;
        background: $green;
        outline: none;
        border: none;
        border-radius: 6px;
        color: $black;
    }
  }

  .admins,
  .sql-zaprosi-section{
    width: 100%;
    padding: 10% 0;
    background: $black;
    color: $white;
    a{
        color: $green;
        margin-left: 10px;
        margin-right: 10px;
        text-decoration: none;
    }
    .blocksss{
        width: 90%;
        margin-left: 5%;
        .df{
            display: flex;
            justify-content: center;
            align-items: center;
            img{
                width: 200px;
            }
            .texts{
                margin-left: 30px;
                span{
                    font-size: 13px;
                    color: #808080;
                }
            }
        }
       
    }
    ul{
        list-style: none;
    }
    h2{
        margin: 25px 0;
    }
    p{
        margin-top: 20px;
        margin-bottom: 10px;
    }
    input,
    select,
    label{
        width: 315px;
        height: 50px;
        border-radius: 6px;
        outline: none;
        padding-left: 15px;
        background-color: #4D4C4C;
        color: $white;
        border: none;
        font-size: 16px;
    }
    label{
        padding: 10px 100px;
    }
    tr,
    th,
    td{
        padding: 5px;
        border: 1px solid #808080;
    }
    .flexs{
        display: flex;
        justify-content: center;
    }
    .dobaxit_danne{
       padding: 0 50px;
    }
   
  }
  .sql-zaprosi{
    width: 90%;
    margin-left: 5%;
    
    p{
       margin-top: 60px;
       margin-bottom: 25px;
    }
    table,
    tr,
    th,
    td{
        padding: 10px;
        border: 1px solid #808080;
    }
  }
  